doctype html
html(lang="es")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0")
        title Segunda pagina de Prueba
        link(rel="stylesheet" type="text/css" href="#")
        script(type="text/javascript" src="#")
    body
        include header
        include aside
        article
            #cabecera Esto es una cabecera
            .estilo1 Esto es un div dentro de un estilo
            .estilo2#id2 Esto es otro div
        footer
            div copyrigth 2016
            div.contenedorSocial
                a(href="#") Facebook
                a(href="#") Twitter